.inventory__item {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  margin: 1em;
  background: white;
}

.inventory__btn--delete {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
