#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: .5em 2em;
}

.read-the-docs {
  color: #888;
}

.inventory__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn__add-item {
  height: 50px;
  margin: auto;
  padding: 5px 20px;
  background: rgb(60, 60, 60);
}

.btn__container {
  display: flex;
  height: 400px;
}
